
@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>


<form id="regForm" class="regForm" style="width:50%; margin-bottom:500px" method="post" action="ResetPassword">
    <h4>Reset your password</h4>
    <fieldset id="fieldSet">
        <label for="vCode">Enter verification code</label>
        <input type="text" name="param" id="vCode" />
        <div class="loader" id="loading" style="float:right;visibility:hidden"></div>
        <button type="button" id="btnResend" onclick="resendCode()" style="float:right;background:green;margin-bottom:4px">Resend verification code</button>
        <label for="newPass">
            Enter new password:
            <a style="cursor:pointer" onclick="showPasswordFunction()">
                <i class="fas fa-eye point"></i>
            </a>
        </label>
        <input type="password" name="password" id="newPass" />
        <label for="cPass">Confirm password</label>
        <input type="password" id="cPass" />
        <button type="button" onclick="passwordCheck()">Reset</button>
    </fieldset>
    @if (ViewBag.Error != null)
    {
        <br /><label id="codeError" class="text-danger">@ViewBag.Error</label>
    }
</form>

<div id="logo">
    <img src="~/Content/GDSS Logo.png" />
</div>

<script type="text/javascript">
        function resendCode(){
            if($("#resendMessage").length){
                $("#resendMessage").remove();
            }
            if($("#codeError").length){
                $("#codeError").remove();
            }
            $("#loading").css("visibility", "visible");
            $.post("/Moderator/ResetPassword", {param:'@ViewBag.Email',resend: 'true'}, function(message){
                $("#loading").css("visibility", "hidden");
                $("#fieldSet").after("<br/><label id='resendMessage'>"+message+"</label>");
            });
    }

    function passwordCheck() {
        var pass = document.getElementById("newPass").value;
        var cpass = document.getElementById("cPass").value;
        if (pass == cpass)
            document.getElementById("regForm").submit();
        else alert("Passwords do not match");
    }
</script>

<style>
    .loader {
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 10px;
        height: 10px;
        animation: spin 2s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<script>
    function showPasswordFunction() {
        var x = document.getElementById("newPass");
        if (x.type == "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>