<html>
<head>
    <script src="https://kit.fontawesome.com/9486839852.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/ModeratorStyle.css">



</head>

<body>

    <div class="container1">

        <div class="content">
            <a style="font-size: 40px; margin-right: 80% ; color: black;" href="ModeratorRoom"> <i class="far fa-arrow-alt-circle-left"></i> </a>
            <h1>Select Tools</h1>
            <br>

            <div class="icon-container">
                <div class="icon icon-expand" onclick="location.href='../Discussion/AddPoll'">

                    <i class="fas fa-poll-h"></i>
                    <div class="image-text">
                        <h2>Poll</h2>

                    </div>
                </div>

                <div class="icon icon-expand">
                    <i class="fas fa-chart-area"></i>
                    <div class="image-text">
                        <h2>Weighted Decision Matrix</h2>
                    </div>
                </div>

            </div>

            <div class="icon-container">
                <div class="icon icon-expand">

                    <i class="fas fa-clipboard"></i>
                    <div class="image-text">
                        <h2>White Board</h2>

                    </div>
                </div>

                <div class="icon icon-expand" onclick="location.href='../Discussion/AddForum'">
                    <i class="fab fa-wpforms"></i>
                    <div class="image-text">
                        <h2>Forum</h2>
                    </div>
                </div>

            </div>

        </div>





    </div>




</body>
</html>