
@{
    ViewBag.Title = "Add Forum";
}

<h2>Add Forum</h2>
<head>
    <script src="https://kit.fontawesome.com/9486839852.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="container1">

        <div class="content">
            <a style="font-size: 40px; margin-right: 80% ; color: black;" href="class=" far fa-arrow-alt-circle-left"></i> </a>
            <br>
            <form class="regForm" style="width:50%" action="SaveForum">
                <label for="Title">Title</label>
                <input type="text" id="title" name="heading"><br><br>
                <label for="content">Content</label>
                <textarea id="content" name="content" rows="4" cols="40"></textarea><br />
                <button type="submit">Submit</button>

            </form>

        </div>

    </div>

</body>