
@{
    ViewBag.Title = "Discussion Message";
}

<h2>Discussion Message</h2>

<form class="regForm" style="width:50%">
    <h5>@ViewBag.Message</h5>
</form>

<div id="logo">
    <img src="~/Content/GDSS Logo.png" />
</div>